
.Body {
    background-color:rgb(70, 80, 90);
    overflow: hidden;
    position: relative;
    margin: 0px;
    pointer-events: none;
}

.VideoGrid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: auto auto auto auto auto;
    position: absolute;
}

.Brainrot {
    height: 25vh;
    width: 20vw;
}

.Background {
    position: absolute;
    height: 100vh;
    width: 100vw;
}
