
#Body {
    background-color:rgb(70, 80, 90);
    margin: 0px;
    overflow: hidden;
    pointer-events: none;
}

#VideoGrid {
    display: grid;
    position: absolute;
    height: 100%;
    width: 100%;
    grid-template-columns: auto auto auto auto auto;
}

.Brainrot {
    height: 25vh;
    width: 20vw;
}

.Background {
    position: absolute;
    height: 100vh;
    width: 100vw;
}
