#Body {
    width: 100vw;
    height: 100vh;
    background-color:black;
    margin: 0px;    
    overflow: hidden;
}

#Container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2px;
}

#Board {
    height: 100vh;
    width: 80vw;
    background-color:rgb(70, 80, 90);
}

#List {
    height: 100vh;
    width: 18vw;
    max-width: 18vw;
    background-color: rgb(100, 110, 120);
    padding: 1vw;
}

#ListInner {
    display: flex;
    
    flex-wrap: wrap;
    gap: 10px;
}

.Item {
    height: 20px;
    background-color: rgb(120, 130, 140);
    padding: 5px;
    margin: 0px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 3px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
    -webkit-user-drag: none;
}

.OnBoard {
    position: absolute;
}