
.Body {
    background-color:rgb(70, 80, 90);
    overflow: hidden;
    margin: 0px;
}

/*************************************************************************************************/
/*                                         MOUSE EFFECTS                                         */
/*************************************************************************************************/

#MouseBlurContainer {
    position: absolute;
    pointer-events: none;
}

#ClickBlurContainer {
    position: absolute;
    pointer-events: none;
}

.MouseBlur {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 100%;
    filter: blur(10px);
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.ClickBlur {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 100%;
    border: 5px solid;
    background-color: transparent;
    filter: blur(2px);
    transition: transform 5s ease-out;
    pointer-events: none;
}

.ClickBlur.grown {
    transform: scale(200);
}

/*************************************************************************************************/
/*                                            BUTTONS                                            */
/*************************************************************************************************/

.Buttons {
    display: flex;
    padding: 70px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.ButtonContainer {
    margin: 20px;
    margin-bottom: 30px;
    transition: scale 1s ease;
    position: relative;
}

.ButtonImage {
    width: 320px;
    height: 180px;
    user-select: none;
    border-radius: 7px;
}

.ButtonText{
    position: relative;
    bottom: 50px;
    margin: auto;
    font-size: 30px;
    font-family:'Franklin Gothic Medium';
    background-clip: text;
    color: transparent;
    pointer-events: none;
    transition: transform 1s ease;
}

/*********************************/
/*          MIND PALACE          */
/*********************************/

.MindPalaceLensFlare{
    width: 300px;
    height: 100px;
    position: absolute;
    opacity: 0;
    filter: brightness(0.9);
    transition: opacity 1s ease;
    pointer-events: none;
    user-select: none;
}

.MindPalaceLensFlareLeft{
    top: 2px;
    right: 38px;
}

.MindPalaceLensFlareRight{
    bottom: 118px;
    left: 34px;
}

.MindPalaceText{
    left: 20px;
    background-image: linear-gradient(to right, white, gray);
}

/*********************************/
/*          YAP SESSION          */
/*********************************/

.YapSessionText {
    left: 40px;
    background-image: linear-gradient(to right, purple, red); 
    transition: transform 100s;
}