
.Body {
    background-color:rgb(70, 80, 90);
    overflow: hidden;
}

#MouseBlurContainer {
    position: absolute;
    pointer-events: none;
}

#ClickBlurContainer {
    position: absolute;
    pointer-events: none;
}

.MouseBlur {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 100%;
    filter: blur(10px);
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.ClickBlur {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 100%;
    border: 5px solid;
    background-color: transparent;
    filter: blur(2px);
    transition: transform 5s ease-out;
    pointer-events: none;
}

.ClickBlur.grown {
    transform: scale(100);
}