
.title {
    position: relative;
    height: 20%;
}
.title .btn {
    position: absolute;
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    font-weight: bolder;
    padding: 12px 500px;
    border: none;
    animation: rainbow 3s ease infinite;
} 
@keyframes rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}

.GibsonCreepypasta {
    max-width: 400px;
}

.Wadwe{
    font-style: times new roman;
    font-size: 100px;
    font-weight: bolder;
    margin: 9px; 
}
.Grid{
    font-style: times new roman;
    font-size: 20px;
    font-weight: bold;
}
.Flex{
    font-size: 20px;
    font-weight: bold;
}