.Body {
    background-color:rgb(70, 80, 90);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.gif {
    position: absolute;
    -webkit-user-drag: none;    /*Stop it from being dragable*/
    user-select: none;          /*Stop it from being hightlightable*/
}